/* style.css */

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #e0f7ff, #f0faff);
    color: #003366;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    color: #0077cc;
    margin-bottom: 30px;
  }
  
  .add-task {
    
    background-color: #ffffff;
    border: 2px solid #cceeff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    gap: 0;
    box-shadow: 0 4px 8px rgba(0, 119, 204, 0.1);
    max-width: 540px;
  }
  
  input[type="text"] {
   border: 1px solid green;
   outline: none;
   padding: 10px;
   width: 70%;
   border-radius: 50px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  }
  
  button {
    padding: 10px 40px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
    
    transition: background-color 0.3s ease;
    
  
  }
  
  button:hover {
    background-color: #005fa3;
  }
  
  #task-list {
    margin-top: 20px;
    text-align: left;
    
  }
  
  .task-item {
    background-color: #e6f3ff;
    border: 1px solid #cceeff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  

  #add-task {
    color: white;
    background-color: rgb(4, 178, 4);
  }

  .checked-task {
    text-decoration: line-through;
    color: gray;
  }
  